body {
  font-family: "Lobster", cursive;
  font-weight: bold;
  background: linear-gradient(to right, white, blue);
  height: 100vh;
  margin: 0;
  font-size: 18px;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.top-container h1 {
  align-self: center;
  font-size: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  width: 50%;
  margin-left: 150px;
}

.grid-item {
  padding: 10px;
  text-align: left;
}

input[type="text"],
textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 200px;
  resize: vertical;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 30px;
  margin-right: 100px;
}

.submit-button button {
  background-color: black;
  color: white;
}

.error-message {
  color: red;
  font-weight: normal;
  font-size: x-small;
  padding: 10px;
  padding-left: 0px;
}

.location-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  font-size: 14px;
  padding: 5px;
  background-color: white;
}

.remove-btn {
  color: red;
  background-color: transparent;
}

#desired-location-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
